.registration{
  border: solid 1px rgb(112, 111, 113);
background-color: aquamarine;
  margin-left: 250px;
  margin-right: 250px;
  padding: 100px;
  padding-top: 50px;
  height: 520px;
  
}
.register{
 color: red;

}