.service{
border: solid 1px black;
border-radius: 10px;
padding-bottom: 10px;
text-align: center;
background-color: #C7F6FE;

}
.service img {
    width: 420px;
    height: 300px;
    border-radius: 30px;
    padding: 20px;
}
.description{
margin-left: 22px;
margin-right: 10px;
}